{% extends 'basefront.html.twig' %}


{% block title %}Albums index{% endblock %}

{% block body %}

    <br><br><br><br><br><br><br><br>

    <center><h1>Profitez de notre librairie d'Albums chez Mouzika !</h1></center>


    <br><br><br><br>




    <div class="youtube_video_area">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                {% for album in albums %}
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="single_video">
                            <div class="thumb">
                                <img  src="{{ asset('/uploads/brochures/' ~ album.ImageAlbum) }}"  alt="album image" >
                            </div>
                            <div class="hover_elements">
                                <div class="video">
                                    <a class="popup-video" href="https://en.wikipedia.org/wiki/Red_(Taylor_Swift_album)" target="_blank">
                                        <i class="fa fa-play"></i>
                                    </a>
                                </div>

                                <div class="hover_inner">
                                    <span>{{ album.releaseDate ? album.releaseDate|date('Y-m-d') : '' }} ~ Number of Songs: {{ album.numberOfSongs }}</span>
                                    <h3><a href="#">{{ album.artist }} - {{ album.title }}</a></h3>
                                    <h6 style="color:white;">Genre: {{ album.genre }}</h6>
                                </div>
                            </div>
                        </div>
                    </div> <br><br><br>
                {% endfor %}
<br><br><br>
                <div id="div_chart"></div>

                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                 <script type="text/javascript">
                     {{ gc_draw(piechart, 'div_chart') }}
                </script>

            </div>
        </div>
    </div>
    </div>
    </div>
    </div>








    {#  <h1>Singles index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Artist</th>
            <th>SingleName</th>
            <th>ReleaseDate</th>
            <th>Genre</th>
            <th>ImageSingle</th>
            <th>AudioSingle</th>
            <th>Album</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for single in singles %}
            <tr>
                <td>{{ single.id }}</td>
                <td>{{ single.artist }}</td>
                <td>{{ single.singleName }}</td>
                <td>{{ single.releaseDate ? single.releaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ single.genre }}</td>
                <td>{{ single.imageSingle }}</td>
                <td>{{ single.audioSingle }}</td>
                <td>{{ single.albums }}</td>
                <td>
                    <a href="{{ path('app_singles_show', {'id': single.id}) }}">show</a>
                    <a href="{{ path('app_singles_edit', {'id': single.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>#}


{% endblock %}
