{% extends 'base.html.twig' %}

{% block title %}Liste des promotions{% endblock %}

{% block body %}

    <div class="row" style="display: flex;align-items: center;justify-content: center;margin-top: 150px;width: 100%">

        <div class="table--no-card m-b-30">
            {{ form_start(form) }}

            <div class="form-row align-items-end">
                <div class="col">
                   pourcentage:  {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                </div>
                <div class="col">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
            <table class="table table-borderless table-striped table-earning">
                <a href="{{ path('addPromotion') }}"><i class="arrow-back" style="font-size: 50px;"></i> </a>
                <thead>
                <tr>
                    <th>Pourcentage</th>
                    <th>Duree en jours</th>
                    <th>Nom produit</th>
                    <th>Modification</th>
                    <th>Suppression</th>
                </tr>
                </thead>
                <tbody>
                {% for promotion in p %}
                    <tr>
                        <td>{{ promotion.pourcentage | default(0) }}</td>
                        <td>{{ promotion.duree | default(0) }}</td>
                        <td>{{ promotion.idProd.nom | default(0) }}</td>
                        <td>
                            <a class="btn-success" href="{{ path('modify_promo',{'id':promotion.id}) }}" >Modifier</a>
                        </td>
                        <td>
                            <a class="btn-danger" href="{{ path('supp_promo',{'id':promotion.id}) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <br/>
            <a class="btn-dark" style="height: 70px; margin-left: 150px" href="{{ path('addPromotion') }} ">Ajouter<i style="font-size: 50px;align-items: center;justify-content: center"></i></a>

        </div>

    </div>
    

{% endblock %}
