{% extends 'base-back.html.twig' %}

{% block title %}Titres {% endblock %}

{% block body %}
    <h1>Titres </h1>

    <table class="table" id="tableac">
        <input type="text" id="search" name="search" class="form-control" placeholder="Search by ....">

        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Artiste</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>

        {% for titre in titres %}
            <tr>
                <td>{{ titre.id }}</td>
                <td>{{ titre.nom }}</td>
                <td>{{ titre.artiste }}</td>
                <td>
                    <a href="{{ path('app_titres_show', {'id': titre.id}) }}">show</a>
                    <a href="{{ path('app_titres_edit', {'id': titre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_titres_new') }}">Create new</a>
    <div id="div_chart"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {{ gc_draw(piechart, 'div_chart') }}
    </script>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#tableac tbody tr').each(function(){
                    var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found === 'true')
                    {
                        $(this).show();

                    }
                    else
                    {
                        $(this).hide();

                    }
                });
            }
        });
    </script>
{% endblock %}
