{% extends 'base-back.html.twig' %}

{% block title %}Albums index{% endblock %}

{% block body %}
    <h1>Albums index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>NumberOfSongs</th>
                <th>ReleaseDate</th>
                <th>Genre</th>
                <th>Artist</th>
                <th>ImageAlbum</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td>{{ album.id }}</td>
                <td>{{ album.title }}</td>
                <td>{{ album.numberOfSongs }}</td>
                <td>{{ album.releaseDate ? album.releaseDate|date('Y-m-d') : '' }}</td>
                <td>{{ album.genre }}</td>
                <td>{{ album.artist }}</td>
                <td><img  src="{{ asset('/uploads/brochures/' ~ album.ImageAlbum) }}"  alt="album image" height="100" width="100"></td>
                <td>
                    <a href="{{ path('app_albums_show', {'id': album.id}) }}">show</a>
                    <a href="{{ path('app_albums_edit', {'id': album.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_albums_new') }}">Create new</a>
{% endblock %}
