{% extends 'base.html.twig' %}

{% block title %}Albums{% endblock %}

{% block body %}
    <h1>Albums</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ album.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ album.title }}</td>
            </tr>
            <tr>
                <th>NumberOfSongs</th>
                <td>{{ album.numberOfSongs }}</td>
            </tr>
            <tr>
                <th>ReleaseDate</th>
                <td>{{ album.releaseDate ? album.releaseDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ album.genre }}</td>
            </tr>
            <tr>
                <th>Artist</th>
                <td>{{ album.artist }}</td>
            </tr>
            <tr>
                <th>ImageAlbum</th>
                <td><img  src="{{ asset('/uploads/brochures/' ~ album.ImageAlbum) }}"  alt="album image" height="100" width="100"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_albums_index') }}">back to list</a>

    <a href="{{ path('app_albums_edit', {'id': album.id}) }}">edit</a>

    {{ include('albums/_delete_form.html.twig') }}
{% endblock %}
